<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Compose a new micropost...", class: "new_micropost" %>
	</div>
	<span class="char_advisory">You have <em class="char_remaining">140 characters</em> remaining.</span>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>